.ag-line-chart {
  &--container {
    background: white;
    margin-bottom: 10px;
  }
  &--slider {
    width: 90%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 28px;
    border-bottom: 1px solid $GRAY_3;
  }
  &--slider-title {
    margin-bottom: 20px;
    text-align: center;
  }
}
